{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "extends": "airbnb-typescript",
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": ["block", "block-like", "cjs-export", "class", "export", "import"],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": ["export", "import"],
        "next": ["export", "import"]
      }
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true,
          "ArrowFunctionExpression": true,
          "FunctionExpression": true
        }
      }
    ]
  }
}
