{
    "all": true,
    "check-coverage": true,
    "extension": [
      ".ts"
    ],
    "include": [
      "src"
    ],
    "exclude": [
      "src/index.ts"
    ],
    "sourceMap": true,
    "instrument": true,
    "reporter": [
      "lcov",
      "text-summary"
    ],
    "branches": 95,
    "lines": 95,
    "functions": 95,
    "statements": 95,
    "require": [
      "ts-node/register"
    ]
  }
